<article
  class="h-full flex flex-col items-center justify-center text-center"
>
  <section
    class="not-prose items-center mb-3 flex flex-col"
  >

    <h1 class="text-4xl font-bold tracking-normal">
      {{ .Site.Params.author.name | default .Site.Title }}
    </h1>
    {{ with .Site.Params.author.headline }}
      <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
        {{ . }}
      </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partial "author-links.html" . }}
    </div>
  </section>
  <section class="prose dark:prose-invert">
    {{ .Content }}
  </section>
</article>
